@media screen and (max-width: 1400px) {
  .inner {
    width: 85.7vw;
  }
  header {
    height: 5.7vw;
  }
  header.subBg {
    height: 20vw;
  }
  header.subBg .inner .logo {
    color: #00b8ff;
  }
  main #main_img {
    height: 56.3vw;
  }
  main #main_img .typeit_box #typeit_txt {
    font-size: 3rem;
  }
  main #card_ani {
    margin-bottom: 150px;
  }
  main #card_ani .inner #web_card .card_wrap {
    margin-bottom: 50px;
  }
  main #card_ani .inner #web_card .card_wrap:nth-child(odd) .card_txt {
    right: 50px;
  }
  main #card_ani .inner #web_card .card_wrap:nth-child(even) .card_txt {
    left: 50px;
  }
  main #users {
    margin-bottom: 50px;
  }
  main #users .inner .circle_img {
    left: 160px;
  }
  @-webkit-keyframes scale {
    0% {
    }
    100% {
      -webkit-transform: scale(10);
              transform: scale(10);
    }
  }
  @keyframes scale {
    0% {
    }
    100% {
      -webkit-transform: scale(10);
              transform: scale(10);
    }
  }
  main #users .inner .users_txt {
    padding-right: 160px;
  }
  main #users .inner .users_txt span {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  main #users .inner .users_txt span strong {
    font-size: 1.8rem;
  }
  footer {
    height: 18vw;
  }
  footer .inner .links {
    width: 88%;
  }
  footer .inner .links a {
    font-size: 1rem;
  }
  footer .inner .footer_info {
    width: 78%;
  }
  footer .inner .footer_info .corp_info li {
    font-size: 0.8rem;
  }
  footer .inner .footer_info .sns .socar_app {
    width: 12.5vw;
  }
  footer .inner .footer_info .sns .socar_app a span {
    font-size: 0.9rem;
  }
  footer p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1200px) {
  .inner {
    width: 95%;
  }
  header .inner nav {
    display: none;
  }
  header .inner #mobile_menu_btn {
    display: block;
  }
  #mobile_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main #main_img .typeit_box #typeit_txt {
    font-size: 2.25rem;
  }
  main #card_ani {
    margin-bottom: 100px;
  }
  main #card_ani .inner #web_card .card_wrap {
    margin-bottom: 25px;
  }
  main #card_ani .inner #web_card .card_wrap .card_txt h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  main #card_ani .inner #web_card .card_wrap .card_txt p {
    font-size: 1.1rem;
  }
  main #card_ani .inner #web_card .card_wrap .card_txt p span {
    margin-bottom: 5px;
  }
  main #card_ani .inner #web_card .card_wrap:nth-child(odd) .card_txt {
    right: 0px;
  }
  main #card_ani .inner #web_card .card_wrap:nth-child(even) .card_txt {
    left: 0px;
  }
  main #users {
    margin-bottom: 50px;
  }
  main #users .inner .circle_img {
    left: 200px;
  }
  @-webkit-keyframes scale {
    0% {
    }
    100% {
      -webkit-transform: scale(8.5);
              transform: scale(8.5);
    }
  }
  @keyframes scale {
    0% {
    }
    100% {
      -webkit-transform: scale(8.5);
              transform: scale(8.5);
    }
  }
  main #users .inner .users_txt {
    padding-right: 200px;
  }
  main #users .inner .users_txt span {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  main #users .inner .users_txt span strong {
    font-size: 1.5rem;
  }
  footer {
    height: 20vw;
  }
  footer .inner .links a {
    font-size: 0.9rem;
  }
  footer .inner .footer_info {
    width: 78%;
  }
  footer .inner .footer_info .corp_info li {
    font-size: 0.7rem;
  }
  footer .inner .footer_info .sns .socar_app {
    width: 13.5vw;
  }
  footer .inner .footer_info .sns .socar_app a span {
    font-size: 0.9rem;
  }
  footer p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 992px) {
  header {
    height: 8.5vw;
  }
  header .inner .logo {
    top: 25px;
  }
  header .inner #mobile_menu_btn {
    top: 23px;
  }
  main #main_img .typeit_box #typeit_txt {
    font-size: 2rem;
  }
  main #card_ani {
    margin-bottom: 80px;
  }
  main #card_ani .inner #web_card .card_wrap {
    margin-bottom: 15px;
  }
  main #users {
    margin-bottom: 0;
  }
  main #users .inner .circle_img {
    left: 160px;
  }
  @-webkit-keyframes scale {
    0% {
    }
    100% {
      -webkit-transform: scale(6.5);
              transform: scale(6.5);
    }
  }
  @keyframes scale {
    0% {
    }
    100% {
      -webkit-transform: scale(6.5);
              transform: scale(6.5);
    }
  }
  main #users .inner .users_txt {
    padding-right: 160px;
  }
  main #users .inner .users_txt span {
    font-size: 1rem;
    margin-bottom: 8px;
  }
  main #users .inner .users_txt span strong {
    font-size: 1.3rem;
  }
  footer {
    height: 23vw;
    border: none;
    background-color: #495057;
    padding-top: 20px;
  }
  footer .inner {
    height: 40%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .inner .links {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .inner .links a {
    font-size: 0.7rem;
    color: #888;
  }
  footer .inner .footer_info {
    width: 66.666%;
  }
  footer .inner .footer_info .corp_info {
    color: #888;
  }
  footer .inner .footer_info .corp_info li {
    font-size: 0.7rem;
  }
  footer .inner .footer_info .corp_info li a {
    color: #999;
  }
  footer .inner .footer_info .sns .sns_links ul li a {
    color: #888;
  }
  footer .inner .footer_info .sns .socar_app {
    width: 16vw;
  }
  footer .inner .footer_info .sns .socar_app a span {
    font-size: 0.8rem;
  }
  footer p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 8.5vw;
  }
  header .inner .logo, header .inner #mobile_menu_btn {
    top: 32.5px;
    font-size: 1.5rem;
  }
  #mobile_menu {
    width: 100%;
    right: -100%;
    text-align: center;
  }
  #mobile_menu .close {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  #mobile_menu .mobile_menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #mobile_menu .mobile_menu .mobile_depth1 {
    width: 15.6vw;
    margin: 0 25px;
  }
  #mobile_menu .mobile_menu .mobile_depth1 .mobile_depth1_link {
    font-size: 1.3rem;
    padding-bottom: 5px;
  }
  #mobile_menu .mobile_menu .mobile_depth1 .mobile_depth2 {
    font-size: 1rem;
    margin-left: 0;
  }
  main #main_img .typeit_box #typeit_txt {
    font-size: 1.875rem;
  }
  main #card_ani .inner #web_card {
    display: none;
  }
  main #card_ani .inner #mobile_card {
    display: block;
  }
  main #card_ani .inner #mobile_card .card_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 50px;
  }
  main #card_ani .inner #mobile_card .card_wrap:nth-child(even) {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main #card_ani .inner #mobile_card .card_wrap:nth-child(even) .card_txt {
    text-align: left;
  }
  main #card_ani .inner #mobile_card .card_wrap .card_txt {
    margin-top: 10px;
    font-family: 'LeeSeoyun';
    text-align: right;
  }
  main #card_ani .inner #mobile_card .card_wrap .card_txt h2 {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }
  main #card_ani .inner #mobile_card .card_wrap .card_txt p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.2rem;
  }
  main #card_ani .inner #mobile_card .card_wrap img {
    width: 80%;
    height: auto;
  }
  main #users .inner .circle_img {
    left: 100px;
  }
  main #users .inner .circle_img img {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
  main #users .inner .users_txt {
    padding-right: 100px;
  }
  footer {
    height: 33vw;
  }
  footer .inner .footer_info .sns .socar_app {
    width: 18vw;
    height: 3.8vw;
  }
  footer .inner .footer_info .sns .socar_app a span {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 576px) {
  header {
    height: 8.7vw;
  }
  header .inner .logo, header .inner #mobile_menu_btn {
    top: 25px;
    font-size: 1.175rem;
  }
  #mobile_menu .mobile_menu .mobile_depth1 {
    width: 18vw;
  }
  #mobile_menu .mobile_menu .mobile_depth1 .mobile_depth1_link {
    font-size: 1rem;
  }
  #mobile_menu .mobile_menu .mobile_depth1 .mobile_depth2 {
    font-size: 0.8rem;
    margin-left: 0;
  }
  main #main_img {
    margin-bottom: 50px;
  }
  main #main_img .typeit_box #typeit_txt {
    font-size: 1.3rem;
  }
  main #users {
    height: 22vw;
  }
  main #users .inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main #users .inner .circle_img {
    display: none;
  }
  main #users .inner .users_txt {
    padding-right: 0;
  }
  footer {
    height: 70vw;
  }
  footer .inner {
    height: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .inner .links {
    width: 70%;
    margin-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .inner .links li {
    margin: 0 20px 5px 0;
  }
  footer .inner .links li a {
    font-size: 1.1em;
    color: #888;
  }
  footer .inner .footer_info {
    width: 70%;
    height: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .inner .footer_info .corp_info {
    margin-bottom: 15px;
  }
  footer .inner .footer_info .corp_info li {
    margin-bottom: 5px;
    font-size: 0.95rem;
  }
  footer .inner .footer_info .corp_info li a {
    color: #999;
  }
  footer .inner .footer_info .sns {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .inner .footer_info .sns .sns_links {
    width: 100%;
    margin-bottom: 15px;
  }
  footer .inner .footer_info .sns .sns_links ul {
    width: 50%;
    margin: 0 auto;
  }
  footer .inner .footer_info .sns .socar_app {
    width: 55%;
    height: 7vw;
    border-radius: 3.5vw;
  }
  footer .inner .footer_info .sns .socar_app a img {
    display: none;
  }
  footer .inner .footer_info .sns .socar_app a span {
    font-size: 1rem;
  }
  footer p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 375px) {
  header {
    height: 8.7vw;
  }
  header .inner .logo, header .inner #mobile_menu_btn {
    top: 20px;
    font-size: 0.9rem;
  }
  #mobile_menu .close {
    font-size: 1rem;
  }
  #mobile_menu .mobile_menu .mobile_depth1 .mobile_depth1_link {
    font-size: 0.8rem;
  }
  #mobile_menu .mobile_menu .mobile_depth1 .mobile_depth2 {
    font-size: 0.6rem;
  }
  main #main_img {
    margin-bottom: 30px;
  }
  main #main_img .typeit_box #typeit_txt {
    font-size: 1rem;
  }
  main #card_ani .inner #mobile_card .card_wrap {
    margin-bottom: 30px;
  }
  main #card_ani .inner #mobile_card .card_wrap .card_txt {
    margin-top: 4.5px;
  }
  main #card_ani .inner #mobile_card .card_wrap .card_txt h2 {
    font-size: 1.5rem;
  }
  main #card_ani .inner #mobile_card .card_wrap .card_txt p {
    font-size: 0.8rem;
  }
  main #card_ani .inner #mobile_card .card_wrap img {
    width: 80%;
    height: auto;
  }
  main #users {
    height: 25vw;
  }
  main #users .inner .users_txt span {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  main #users .inner .users_txt span strong {
    font-size: 1rem;
  }
  footer {
    height: 100vw;
  }
  footer .inner {
    height: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .inner .links {
    width: 70%;
    margin-bottom: 20px;
  }
  footer .inner .links li {
    margin: 0 20px 5px 0;
  }
  footer .inner .links li a {
    font-size: 0.8em;
  }
  footer .inner .footer_info {
    width: 70%;
    height: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .inner .footer_info .corp_info {
    margin-bottom: 15px;
  }
  footer .inner .footer_info .corp_info li {
    margin-bottom: 5px;
    font-size: 0.8rem;
  }
  footer .inner .footer_info .corp_info li a {
    color: #999;
  }
  footer .inner .footer_info .sns {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .inner .footer_info .sns .sns_links {
    width: 100%;
    margin-bottom: 15px;
  }
  footer .inner .footer_info .sns .sns_links ul {
    width: 50%;
    margin: 0 auto;
  }
  footer .inner .footer_info .sns .socar_app {
    width: 55%;
    height: 7vw;
    border-radius: 3.5vw;
  }
  footer .inner .footer_info .sns .socar_app a span {
    font-size: 0.8rem;
  }
  footer p {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=media_query.css.map */