a {
  text-decoration: none;
}

.inner {
  max-width: 72.9vw;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 4.2vw;
  overflow: hidden;
  position: fixed;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header.subBg {
  height: 14.6vw;
  background-color: #f9f9f9;
}

header.subBg .inner #web_menu a {
  color: #868e96;
}

header .inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .inner .logo {
  position: absolute;
  top: 35px;
  left: 0;
  font-family: 'SBAggroM';
  font-size: 1.875rem;
  font-weight: bold;
}

header .inner .logo > a {
  color: #00b8ff;
}

header .inner #web_menu {
  width: 25.5vw;
  position: relative;
  font-family: 'GmarketSansMedium';
}

header .inner #web_menu a {
  color: #f9f9f9;
}

header .inner #web_menu .main_menu {
  height: 14.6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .inner #web_menu .main_menu .depth1 {
  width: 8.5vw;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 20px;
  position: relative;
}

header .inner #web_menu .main_menu .depth1 .depth1Link {
  height: 5.2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .inner #web_menu .main_menu .depth1 .depth1Link > span::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.3vw;
  margin-top: 10px;
  background-color: #00b8ff;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .inner #web_menu .main_menu .depth1:hover .depth1Link > span::after {
  opacity: 1;
}

header .inner #web_menu .main_menu .depth1 .depth2 {
  width: 100%;
  position: absolute;
  top: 85px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
}

header .inner #web_menu .main_menu .depth1 .depth2 > li {
  margin-bottom: 10px;
}

header .inner #web_menu .main_menu .depth1 .depth2 > li:hover a {
  color: #00b8ff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .inner #mobile_menu_btn {
  position: absolute;
  top: 35px;
  right: 0;
  font-size: 2rem;
  color: #f9f9f9;
  cursor: pointer;
  display: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .inner #mobile_menu_btn:hover {
  color: #1971c2;
}

#mobile_menu {
  width: 30%;
  height: 100vh;
  background-color: #42C2FF;
  position: fixed;
  right: -100%;
  z-index: 10;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mobile_menu.on {
  right: 0;
}

#mobile_menu .close {
  margin: 35px 35px 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 2.25rem;
  color: #f9f9f9;
  cursor: pointer;
}

#mobile_menu .close:hover {
  color: #1971c2;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#mobile_menu .mobile_menu {
  width: 65%;
}

#mobile_menu .mobile_menu a {
  font-family: 'GmarketSansMedium';
  color: #e9ecef;
}

#mobile_menu .mobile_menu .mobile_depth1 {
  margin-bottom: 40px;
}

#mobile_menu .mobile_menu .mobile_depth1 .mobile_depth1_link {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #ced4da;
}

#mobile_menu .mobile_menu .mobile_depth1 .mobile_depth2 {
  margin-left: 5px;
}

#mobile_menu .mobile_menu .mobile_depth1 .mobile_depth2 li {
  margin-bottom: 5px;
}

#mobile_menu .mobile_menu .mobile_depth1 .mobile_depth2 li a:hover {
  color: #1971c2;
  -webkit-transition: all .3s;
  transition: all .3s;
}

main #main_img {
  height: 49vw;
  background: url(../images/main_visual_fullscreen.jpg) no-repeat;
  background-size: 100% auto;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #main_img .typeit_box #typeit_txt {
  font-family: 'LeferiPoint-BlackObliqueA';
  font-size: 3.75rem;
  color: #f9f9f9;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

main #main_img .typeit_box #typeit_txt .ti-cursor {
  display: none;
}

main #main_img .typeit_box #typeit_txt .color_blue {
  color: #00b8ff;
}

main #card_ani .inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #card_ani .inner .card_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #card_ani .inner .drop_ball {
  position: absolute;
}
