html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.inner {
  width: 72.9vw;
  margin: 0 auto;
}

.color_blue {
  color: #00b8ff;
}

header {
  width: 100%;
  height: 4.2vw;
  overflow: hidden;
  position: fixed;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 5;
}

header.whiteBg .inner .logo {
  color: #00b8ff;
}

header.whiteBg .inner #web_menu a {
  color: #495057;
}

header.whiteBg .inner #mobile_menu_btn {
  color: #495057;
}

header.subBg {
  height: 14.6vw;
  background-color: #f9f9f9;
}

header.subBg .inner .logo {
  color: #00b8ff;
  cursor: pointer;
}

header.subBg .inner #web_menu a {
  color: #868e96;
}

header .inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .inner .logo {
  position: absolute;
  top: 35px;
  left: 0;
  font-family: 'SBAggroM';
  font-size: 1.875rem;
  font-weight: bold;
  color: #f9f9f9;
}

header .inner #web_menu {
  width: 25.5vw;
  position: relative;
  font-family: 'GmarketSansMedium';
}

header .inner #web_menu a {
  color: #f9f9f9;
}

header .inner #web_menu .main_menu {
  height: 14.6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .inner #web_menu .main_menu .depth1 {
  width: 8.5vw;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 20px;
  position: relative;
}

header .inner #web_menu .main_menu .depth1 .depth1Link {
  height: 5.2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .inner #web_menu .main_menu .depth1 .depth1Link > span::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.3vw;
  margin-top: 10px;
  background-color: #00b8ff;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .inner #web_menu .main_menu .depth1:hover .depth1Link > span::after {
  opacity: 1;
}

header .inner #web_menu .main_menu .depth1 .depth2 {
  width: 100%;
  position: absolute;
  top: 85px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
}

header .inner #web_menu .main_menu .depth1 .depth2 > li {
  margin-bottom: 10px;
}

header .inner #web_menu .main_menu .depth1 .depth2 > li:hover a {
  color: #00b8ff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .inner #mobile_menu_btn {
  position: absolute;
  top: 35px;
  right: 0;
  font-size: 2rem;
  color: #f9f9f9;
  cursor: pointer;
  display: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .inner #mobile_menu_btn:hover {
  color: #1971c2;
}

#mobile_menu {
  width: 29.6vw;
  height: 100vh;
  background-color: #42C2FF;
  position: fixed;
  right: -40vw;
  z-index: 10;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  display: none;
}

#mobile_menu.on {
  right: 0;
}

#mobile_menu .close {
  margin: 35px 35px 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 2.25rem;
  color: #f9f9f9;
  cursor: pointer;
}

#mobile_menu .close:hover {
  color: #1971c2;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#mobile_menu .mobile_menu {
  width: 65%;
}

#mobile_menu .mobile_menu a {
  font-family: 'GmarketSansMedium';
  color: #e9ecef;
}

#mobile_menu .mobile_menu .mobile_depth1 {
  margin-bottom: 40px;
}

#mobile_menu .mobile_menu .mobile_depth1 .mobile_depth1_link {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #ced4da;
}

#mobile_menu .mobile_menu .mobile_depth1 .mobile_depth2 {
  margin-left: 5px;
}

#mobile_menu .mobile_menu .mobile_depth1 .mobile_depth2 li {
  margin-bottom: 5px;
}

#mobile_menu .mobile_menu .mobile_depth1 .mobile_depth2 li a:hover {
  color: #1971c2;
  -webkit-transition: all .3s;
  transition: all .3s;
}

main #main_img {
  height: 49vw;
  background: url(../images/main_visual_fullscreen.jpg) no-repeat;
  background-size: 100% auto;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #main_img .typeit_box #typeit_txt {
  font-family: 'LeferiPoint-BlackObliqueA';
  font-size: 3.75rem;
  color: #f9f9f9;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

main #main_img .typeit_box #typeit_txt .ti-cursor {
  display: none;
}

main #card_ani {
  margin-bottom: 200px;
}

main #card_ani .inner #web_card .card_wrap {
  width: 100%;
  height: 33.9vw;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
}

main #card_ani .inner #web_card .card_wrap img {
  width: 45vw;
  height: auto;
  position: absolute;
  top: 0;
}

main #card_ani .inner #web_card .card_wrap .card_txt {
  font-family: 'LeeSeoyun';
  position: absolute;
  bottom: 0;
}

main #card_ani .inner #web_card .card_wrap .card_txt h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

main #card_ani .inner #web_card .card_wrap .card_txt p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.3rem;
}

main #card_ani .inner #web_card .card_wrap .card_txt p span {
  margin-bottom: 5px;
}

main #card_ani .inner #web_card .card_wrap:nth-child(odd) > img {
  left: 0;
}

main #card_ani .inner #web_card .card_wrap:nth-child(odd) .card_txt {
  right: 150px;
}

main #card_ani .inner #web_card .card_wrap:nth-child(even) > img {
  right: 0;
}

main #card_ani .inner #web_card .card_wrap:nth-child(even) .card_txt {
  left: 150px;
  text-align: right;
}

main #card_ani .inner #mobile_card {
  display: none;
}

main #users {
  width: 100%;
  height: 20vw;
  background-color: #00b8ff;
  margin-bottom: 80px;
}

main #users .inner {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #users .inner .circle_img {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #1971c2;
  position: absolute;
  top: 50%;
  left: 130px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #users .inner .circle_img .cars_bg {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: url(../images/cars_bg.png) center no-repeat;
  background-size: 100% auto;
  -webkit-animation: rotateText 25s linear infinite;
          animation: rotateText 25s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(0);
          transform: translate(-50%, -50%) rotateZ(0);
}

main #users .inner .circle_img img {
  width: 50px;
  height: auto;
}

main #users .inner .circle_img img.scale {
  -webkit-animation: scale .5s forwards;
          animation: scale .5s forwards;
}

@-webkit-keyframes scale {
  0% {
  }
  100% {
    -webkit-transform: scale(13);
            transform: scale(13);
  }
}

@keyframes scale {
  0% {
  }
  100% {
    -webkit-transform: scale(13);
            transform: scale(13);
  }
}

@-webkit-keyframes rotateText {
  0% {
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
            transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateText {
  0% {
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
            transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

main #users .inner .users_txt {
  padding-right: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #users .inner .users_txt span {
  font-family: 'GmarketSansMedium';
  font-size: 1.8rem;
  color: #ced4da;
  margin-bottom: 10px;
}

main #users .inner .users_txt span strong {
  font-size: 2.3rem;
  font-weight: bold;
  color: #f9f9f9;
}

footer {
  width: 100%;
  height: 15vw;
  border-top: 1px solid #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .inner {
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'GmarketSansLight';
  font-weight: bold;
}

footer .inner .links {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .inner .links a {
  font-size: 1.1rem;
  color: #495057;
}

footer .inner .links a strong {
  font-family: 'GmarketSansMedium';
  font-weight: normal;
}

footer .inner .footer_info {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .inner .footer_info .corp_info li {
  margin-bottom: 3px;
  font-size: 0.9rem;
}

footer .inner .footer_info .corp_info li a {
  color: #222;
  text-decoration: underline;
}

footer .inner .footer_info .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .inner .footer_info .sns .sns_links {
  margin-bottom: 30px;
}

footer .inner .footer_info .sns .sns_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .inner .footer_info .sns .sns_links ul li a {
  font-size: 1.1rem;
  color: #495057;
}

footer .inner .footer_info .sns .sns_links ul li:nth-child(1) a {
  font-size: 1.18rem;
}

footer .inner .footer_info .sns .sns_links ul li:nth-child(4) a {
  font-family: 'SBAggroM';
}

footer .inner .footer_info .sns .socar_app {
  width: 11.5vw;
  height: 3.6vw;
  border-radius: 1.8vw;
  background-color: #00b8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .inner .footer_info .sns .socar_app a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .inner .footer_info .sns .socar_app a img {
  width: 2.6vw;
  height: 2.6vw;
  margin-right: 5px;
  border-radius: 50%;
}

footer .inner .footer_info .sns .socar_app a span {
  font-size: 1.1rem;
  color: #f9f9f9;
}

footer .inner p {
  font-size: 0.9rem;
}
/*# sourceMappingURL=style.css.map */