@charset "utf-8";

// 반응형

@media screen and (max-width: 1400px) {
    .inner {
        width: 85.7vw;
    }

    header {
        height: 5.7vw;

        &.subBg {
            height: 20vw;
        }

        &.whiteBg {
            height: 4.7vw;
        }
    }

    main {
        #main_img {
            height: 56.3vw;

            .typeit_box {
                #typeit_txt {
                    font-size: 3rem;
                }
            }
        }

        #card_ani {
            margin-bottom: 150px;

            .inner {
                #web_card {
                    .card_wrap {
                        margin-bottom: 50px;

                        &:nth-child(odd) {
                            .card_txt {
                                right: 50px;
                            }
                        }
    
                        &:nth-child(even) {    
                            .card_txt {
                                left: 50px;
                            }
                        }
                    }
                }
            }
        }

        #users {
            margin-bottom: 50px;

            .inner {
                .circle_img {
                    left: 160px;
                }

                @keyframes scale {
                    0% {}
                    100% {
                        transform: scale(10);
                    }                    
                }

                .users_txt {
                    padding-right: 160px;

                    span {
                        font-size: 1.3rem;
                        margin-bottom: 10px;

                        strong {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }

    footer {
        height: 18vw;

        .inner {
            .links {
                width: 88%;
    
                a {
                    font-size: 1rem
                }
            }

            .footer_info {
                width: 78%;

                .corp_info {
                    li {
                        font-size: 0.8rem;
                    }
                }

                .sns {
                    .socar_app {
                        width: 12.5vw;

                        a {
                            span {
                                font-size: 0.9rem
                            }
                        }
                    }
                }
            }
        }

        p {
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 1200px) {
    .inner {
        width: 95%;
    }

    header {
        .inner {
            nav {
                display: none;
            }

            #mobile_menu_btn {
                display: block;
            }
        }

        &.whiteBg {
            height: 6vw;
        }
    }

    #mobile_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        #main_img {
            .typeit_box {
                #typeit_txt {
                    font-size: 2.25rem;
                }
            }
        }

        #card_ani {
            margin-bottom: 100px;

            .inner {
                #web_card {
                    .card_wrap {
                        // height: 450px;
                        margin-bottom: 25px;

                        .card_txt {    
                            h2 {
                                font-size: 2rem;
                                margin-bottom: 10px;
                            }
    
                            p {
                                font-size: 1.1rem;
    
                                span {
                                    margin-bottom: 5px;
                                }
                            }
                        }

                        &:nth-child(odd) {
                            .card_txt {
                                right: 0px;
                            }
                        }
    
                        &:nth-child(even) {    
                            .card_txt {
                                left: 0px;
                            }
                        }
                    }
                }
            }
        }

        #users {
            margin-bottom: 50px;

            .inner {
                .circle_img {
                    left: 200px;
                }

                @keyframes scale {
                    0% {}
                    100% {
                        transform: scale(8.5);
                    }                    
                }

                .users_txt {
                    padding-right: 200px;

                    span {
                        font-size: 1.1rem;
                        margin-bottom: 10px;

                        strong {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }

    footer {
        height: 20vw;

        .inner {
            .links {    
                a {
                    font-size: 0.9rem
                }
            }

            .footer_info {
                width: 78%;

                .corp_info {
                    li {
                        font-size: 0.7rem;
                    }
                }

                .sns {
                    .socar_app {
                        width: 13.5vw;

                        a {
                            span {
                                font-size: 0.9rem
                            }
                        }
                    }
                }
            }
        }

        p {
            font-size: 0.7rem;
        }
    }
}


// 태블릿, 모바일

@media screen and (max-width: 992px) {
    header {
        height: 8.5vw;

        &.whiteBg {
            height: 6vw;
        }

        .inner {
            .logo {
                top: 25px;
            }

            #mobile_menu_btn {
                top: 23px;
            }
        }
    }

    main {
        #main_img {
            .typeit_box {
                #typeit_txt {
                    font-size: 2rem;
                }
            }
        }

        #card_ani {
            margin-bottom: 80px;
            
            .inner {
                #web_card {
                    .card_wrap {
                        // height: 400px;
                        margin-bottom: 15px;
                    }
                }
            }
        }

        #users {
            margin-bottom: 0;

            .inner {
                .circle_img {
                    left: 160px;
                }

                @keyframes scale {
                    0% {}
                    100% {
                        transform: scale(6.5);
                    }                    
                }

                .users_txt {
                    padding-right: 160px;

                    span {
                        font-size: 1rem;
                        margin-bottom: 8px;

                        strong {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }

    footer {
        height: 23vw;
        border: none;
        background-color: #495057;
        padding-top: 20px;

        .inner {
            height: 40%;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;

            .links {
                width: auto;
                
                flex-direction: column;
                align-items: flex-start;

                a {
                    font-size: 0.7rem;
                    color: #888;
                }
            }

            .footer_info {
                width: 66.666%;

                .corp_info {
                    color: #888;

                    li {
                        font-size: 0.7rem;

                        a {
                            color: #999;
                        }
                    }
                }

                .sns {
                    .sns_links {
                        ul {
                            li {
                                a {
                                    color: #888;
                                }
                            }
                        }
                    }

                    .socar_app {
                        width: 16vw;

                        a {
                            span {
                                font-size: 0.8rem
                            }
                        }
                    }
                }
            }
        }

        p {
            font-size: 0.7rem;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 8.5vw;

        &.whiteBg {
            height: 8.5vw;
        }

        .inner {
            .logo, #mobile_menu_btn {
                top: 32.5px;
                font-size: 1.5rem;
            }
        }
    }

    #mobile_menu {
        width: 100%;
        right: -100%;

        text-align: center;

        .close {
            font-size: 1.5rem;
            margin-bottom: 30px;
        }

        .mobile_menu {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;

            .mobile_depth1 {
                width: 15.6vw;
                margin: 0 25px;

                .mobile_depth1_link {
                    font-size: 1.3rem;
                    // border: none;
                    padding-bottom: 5px;
                }

                .mobile_depth2 {
                    font-size: 1rem;
                    margin-left: 0;
                }
            }
        }
    }

    main {
        #main_img {
            .typeit_box {
                #typeit_txt {
                    font-size: 1.875rem;
                }
            }
        }

        #card_ani {
            .inner {
                #web_card {
                    display: none;
                }

                #mobile_card {
                    display: block;

                    .card_wrap {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        margin-bottom: 50px;

                        &:nth-child(even) {
                            align-items: flex-start;

                            .card_txt {
                                text-align: left;
                            }
                        }

                        .card_txt {
                            margin-top: 10px;

                            font-family: 'LeeSeoyun';
                            text-align: right;

                            h2 {
                                font-size: 2.5rem;
                                margin-bottom: 5px;
                            }
                            p {
                                display: flex;
                                flex-direction: column;
                                font-size: 1.2rem
                            }
                        }

                        img {
                            width: 80%;
                            height: auto;
                        }
                    }
                }
            }
        }

        #users {
            .inner {
                .circle_img {
                    left: 100px;

                    img {
                        transform: scale(5);
                    }
                }

                .users_txt {
                    padding-right: 100px;
                }
            }
        }
    }

    footer {
        height: 33vw;

        .inner {        
            .footer_info {
                .sns {
                    .socar_app {
                        width: 18vw;
                        height: 3.8vw;

                        a {
                            span {
                                font-size: 0.8rem
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    header {
        height: 8.7vw;

        .inner {
            .logo, #mobile_menu_btn {
                top: 25px;
                font-size: 1.175rem;
            }
        }
    }

    #mobile_menu {
        .mobile_menu {
            .mobile_depth1 {
                width: 18vw;

                .mobile_depth1_link {
                    font-size: 1rem;
                }

                .mobile_depth2 {
                    font-size: 0.8rem;
                    margin-left: 0;
                }
            }
        }
    }

    main {
        #main_img {
            margin-bottom: 50px;

            .typeit_box {
                #typeit_txt {
                    font-size: 1.3rem;
                }
            }
        }

        #users {
            height: 22vw;

            .inner {
                justify-content: center;

                .circle_img {
                    display: none;
                }
                .users_txt {
                    padding-right: 0;
                }
            }
        }
    }

    footer {
        height: 100vw;

        .inner {
            height: 90%;
            flex-direction: column;
            align-items: center;

            .links {
                width: 70%;
                margin-bottom: 20px;
                
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;

                li {
                    margin: 0 20px 5px 0;

                    a {
                        font-size: 1.1em;
                        color: #888;
                    }
                }
            }

            .footer_info {
                width: 70%;
                height: 60%;
                
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .corp_info {
                    li {
                        margin-bottom: 5px;
                        font-size: 0.95rem;

                        a {
                            color: #999;
                        }
                    }
                }

                .sns {
                    .sns_links {
                        ul {
                            li {
                                a {
                                    color: #888;
                                }
                            }
                        }
                    }

                    .socar_app {
                        width: 16vw;

                        a {
                            span {
                                font-size: 0.8rem
                            }
                        }
                    }
                }
            }
        }

        p {
            font-size: 0.7rem;
        }
    }
}

@media screen and (max-width: 375px) {
    header {
        height: 8.7vw;

        &.whiteBg {
            height: 10vw;   
        }

        .inner {
            .logo, #mobile_menu_btn {
                top: 20px;
                font-size: 0.9rem;
            }
        }
    }

    #mobile_menu {
        .close {
            font-size: 1rem;
        }

        .mobile_menu {
            .mobile_depth1 {
                .mobile_depth1_link {
                    font-size: 0.8rem;
                }
                .mobile_depth2 {
                    font-size: 0.6rem;
                }
            }
        }
    }

    main {
        #main_img {
            margin-bottom: 30px;

            .typeit_box {
                #typeit_txt {
                    font-size: 1rem;
                }
            }
        }

        #card_ani {
            .inner {
                #mobile_card {
                    .card_wrap {
                        margin-bottom: 30px;

                        .card_txt {
                            margin-top: 4.5px;

                            h2 {
                                font-size: 1.5rem;
                            }
                            p {
                                font-size: 0.8rem
                            }
                        }

                        img {
                            width: 80%;
                            height: auto;
                        }
                    }
                }
            }
        }

        #users {
            margin-bottom: 0;

            .inner {
                .circle_img {
                    left: 160px;
                }

                @keyframes scale {
                    0% {}
                    100% {
                        transform: scale(6.5);
                    }                    
                }

                .users_txt {
                    padding-right: 160px;

                    span {
                        font-size: 1rem;
                        margin-bottom: 8px;

                        strong {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }

    footer {
        height: 23vw;
        border: none;
        background-color: #495057;
        padding-top: 20px;

        .inner {
            height: 40%;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;

            .links {
                width: auto;
                
                flex-direction: column;
                align-items: flex-start;

                a {
                    font-size: 0.7rem;
                    color: #888;
                }
            }

            .footer_info {
                width: 66.666%;

                .corp_info {
                    color: #888;

                    li {
                        font-size: 0.7rem;

                        a {
                            color: #999;
                        }
                    }
                }

                .sns {
                    .sns_links {
                        ul {
                            li {
                                a {
                                    color: #888;
                                }
                            }
                        }
                    }

                    .socar_app {
                        width: 16vw;

                        a {
                            span {
                                font-size: 0.8rem
                            }
                        }
                    }
                }
            }
        }

        p {
            font-size: 0.7rem;
        }
    }
}