@charset "utf-8";

// 반응형

@media screen and (max-width: 1400px) {
    .inner {
        width: 85.7vw;
    }

    header {
        height: 5.7vw;

        &.subBg {
            height: 20vw;
        }
    }

    main {
        #main_img {
            height: 56.3vw;

            .typeit_box {
                #typeit_txt {
                    font-size: 3rem;
                }
            }
        }

        #card_ani {
            .inner {
                #web_card {
                    .card_wrap {
                        height: 550px;
                        margin-bottom: 50px;

                        &:nth-child(odd) {
                            .card_txt {
                                right: 50px;
                            }
                        }
    
                        &:nth-child(even) {    
                            .card_txt {
                                left: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .inner {
        width: 95%;
    }

    header {
        .inner {
            nav {
                display: none;
            }

            #mobile_menu_btn {
                display: block;
            }
        }
    }

    #mobile_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        #main_img {
            .typeit_box {
                #typeit_txt {
                    font-size: 2.25rem;
                }
            }
        }

        #card_ani {
            .inner {
                #web_card {
                    .card_wrap {
                        // height: 450px;
                        margin-bottom: 25px;

                        .card_txt {    
                            h2 {
                                font-size: 2rem;
                                margin-bottom: 10px;
                            }
    
                            p {
                                font-size: 1.1rem;
    
                                span {
                                    margin-bottom: 5px;
                                }
                            }
                        }

                        &:nth-child(odd) {
                            .card_txt {
                                right: 0px;
                            }
                        }
    
                        &:nth-child(even) {    
                            .card_txt {
                                left: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}


// 태블릿, 모바일

@media screen and (max-width: 992px) {
    header {
        height: 8.5vw;
    }

    main {
        #main_img {
            .typeit_box {
                #typeit_txt {
                    font-size: 2rem;
                }
            }
        }

        #card_ani {
            .inner {
                #web_card {
                    .card_wrap {
                        // height: 400px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 8.5vw;

        &.whiteBg {
            height: 8.5vw;
        }

        .inner {
            .logo, #mobile_menu_btn {
                top: 32.5px;
                font-size: 1.5rem;
            }
        }
    }

    #mobile_menu {
        width: 100%;
        right: -100%;

        text-align: center;

        .close {
            font-size: 1.5rem;
            margin-bottom: 30px;
        }

        .mobile_menu {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;

            .mobile_depth1 {
                width: 15.6vw;
                margin: 0 25px;

                .mobile_depth1_link {
                    font-size: 1.3rem;
                    // border: none;
                    padding-bottom: 5px;
                }

                .mobile_depth2 {
                    font-size: 1rem;
                    margin-left: 0;
                }
            }
        }
    }

    main {
        #main_img {
            .typeit_box {
                #typeit_txt {
                    font-size: 1.875rem;
                }
            }
        }

        #card_ani {
            .inner {
                #web_card {
                    display: none;
                }

                #mobile_card {
                    display: block;

                    .card_wrap {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        margin-bottom: 50px;

                        &:nth-child(even) {
                            align-items: flex-start;

                            .card_txt {
                                text-align: left;
                            }
                        }

                        .card_txt {
                            margin-top: 10px;

                            font-family: 'LeeSeoyun';
                            text-align: right;

                            h2 {
                                font-size: 2.5rem;
                                margin-bottom: 5px;
                            }
                            p {
                                display: flex;
                                flex-direction: column;
                                font-size: 1.2rem
                            }
                        }

                        img {
                            width: 80%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    header {
        height: 8.7vw;

        .inner {
            .logo, #mobile_menu_btn {
                top: 25px;
                font-size: 1.175rem;
            }
        }
    }

    #mobile_menu {
        .mobile_menu {
            .mobile_depth1 {
                width: 18vw;

                .mobile_depth1_link {
                    font-size: 1rem;
                }

                .mobile_depth2 {
                    font-size: 0.8rem;
                    margin-left: 0;
                }
            }
        }
    }

    main {
        #main_img {
            margin-bottom: 50px;

            .typeit_box {
                #typeit_txt {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    header {
        height: 8.7vw;

        &.whiteBg {
            height: 10vw;   
        }

        .inner {
            .logo, #mobile_menu_btn {
                top: 20px;
                font-size: 0.9rem;
            }
        }
    }

    #mobile_menu {
        .close {
            font-size: 1rem;
        }

        .mobile_menu {
            .mobile_depth1 {
                .mobile_depth1_link {
                    font-size: 0.8rem;
                }
                .mobile_depth2 {
                    font-size: 0.6rem;
                }
            }
        }
    }

    main {
        #main_img {
            margin-bottom: 30px;

            .typeit_box {
                #typeit_txt {
                    font-size: 1rem;
                }
            }
        }

        #card_ani {
            .inner {
                #mobile_card {
                    .card_wrap {
                        margin-bottom: 30px;

                        .card_txt {
                            margin-top: 4.5px;

                            h2 {
                                font-size: 1.5rem;
                            }
                            p {
                                font-size: 0.8rem
                            }
                        }

                        img {
                            width: 80%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}