@charset "utf-8";

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.inner {
    max-width: 72.9vw;
    margin: 0 auto;
}
.color_blue {
    color: #00b8ff;
}


header {
    width: 100%;
    height: 4.2vw;
    overflow: hidden;

    position: fixed;
    transition: all .3s;
    z-index: 5;

    &.whiteBg {
        background-color: rgba(255,255,255,0.5);

        .inner {
            .logo a {
                color: #00b8ff;
            }

            #web_menu a {
                color: #495057;
            }
        } 
    }

    &.subBg {
        height: 14.6vw;
        background-color: #f9f9f9;

        .inner #web_menu a {
            color: #868e96;
        }
    }

    .inner {
        position: relative;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        .logo {
            position: absolute;
            top: 35px;
            left: 0;

            font-family: 'SBAggroM';
            font-size: 1.875rem;
            font-weight: bold;
            
            & > a {
                color: #f9f9f9;
            }
        }

        #web_menu {
            width: 25.5vw;
            position: relative;

            font-family: 'GmarketSansMedium';

            a {
                color: #f9f9f9;
            }

            .main_menu {
                height: 14.6vw;
                display: flex;
                justify-content: space-between;

                .depth1 {
                    width: 8.5vw;
                    font-size: 1.25rem;
                    text-align: center;
                    margin-top: 20px;

                    position: relative;

                    .depth1Link {
                        height: 5.2vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        & > span::after {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 0.3vw;
                            margin-top: 10px;
                            background-color: #00b8ff;
                            opacity: 0;

                            transition: all .3s;
                        }
                    }

                    &:hover {
                        .depth1Link {
                            & > span::after {
                                opacity: 1;
                            }
                        }
                    }

                    .depth2 {
                        width: 100%;
                        position: absolute;
                        top: 85px;
                        left: 50%;
                        transform: translateX(-50%);

                        display: flex;
                        flex-direction: column;

                        font-size: 1rem;
                        & > li {
                            margin-bottom: 10px;

                            &:hover {
                                a {
                                    color: #00b8ff;
                                    transition: all .3s;
                                }
                            }
                        }
                    }
                }
            }
        }

        #mobile_menu_btn {
            position: absolute;
            top: 35px;
            right: 0;
            font-size: 2rem;
            color: #f9f9f9;
            cursor: pointer;
            display: none;
            transition: all .3s;

            &:hover {
                color: #1971c2;
            }
        }
    }
}

#mobile_menu {
    width: 30%;
    height: 100vh;
    background-color: #42C2FF;

    position: fixed;
    right: -100%;
    z-index: 10;
    transition: all .5s ease-in;

    display: flex;
    flex-direction: column;
    align-items: center;

    &.on {
        right: 0;
    }

    .close {
        margin: 35px 35px 50px;
        align-self: flex-end;

        font-size: 2.25rem;
        color: #f9f9f9;

        cursor: pointer;

        &:hover {
            color: #1971c2;
            transition: all .3s;
        }
    }

    .mobile_menu {
        width: 65%;
        a {
            font-family: 'GmarketSansMedium';
            color: #e9ecef;
        }

        .mobile_depth1 {
            margin-bottom: 40px;

            .mobile_depth1_link {
                font-size: 1.6rem;

                display: block;
                margin-bottom: 10px;
                box-sizing: border-box;
                border-bottom: 1px solid #ced4da;
            }

            .mobile_depth2 {
                margin-left: 5px;

                li {
                    margin-bottom: 5px;

                    a:hover {
                        color: #1971c2;
                        transition: all .3s;
                    }
                }
            }
        }
    }
}

main {    
    #main_img {
        height: 49vw;
        background: url(../images/main_visual_fullscreen.jpg) no-repeat;
        background-size: 100% auto;
        margin-bottom: 100px;

        display: flex;
        justify-content: center;
        align-items: center;

        .typeit_box {
            #typeit_txt {
                font-family: 'LeferiPoint-BlackObliqueA';
                font-size: 3.75rem;
                color: #f9f9f9;
                text-shadow: 1px 1px 0 rgba(0,0,0,0.3) ;

                .ti-cursor {
                    display: none;
                }
            }
        }
    }

    #card_ani {
        margin-bottom: 100px;

        .inner {
            position: relative;

            display: flex;
            justify-content: center;

            .card_box {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .card {
                        margin-bottom: 100px;

                        ul {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;

                            li {
                                width: 45%;
    
                                &.card_img {
                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }

                                &.card_txt {
                                    font-family: 'LeeSeoyun';

                                    h3 {
                                        font-size: 3rem;
                                        margin-bottom: 50px;
                                    }
                                    p {
                                        span {
                                            display: block;
                                            font-size: 1.5rem;
                                            margin-bottom: 5px;
                                        }
                                    }
                                }
                            }
                        }
                        
                        &:nth-child(2n) ul {
                            flex-direction: row-reverse;

                            .card_txt {
                                text-align: right;
                            }
                        }
                    }
                }
            }

            .drop_ball {
                height: 96%;
                
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);

                display: flex;
                justify-content: center;

                .line {
                    display: block;
                    width: 1px;
                    height: 100%;
                    background-color: #b1b1b1;

                    .ball {
                        width: 1vw;
                        height: 1vw;
                        border-radius: 50%;
                        background-color: #00b8ff;

                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}
