@charset "utf-8";

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.inner {
    width: 72.9vw;
    margin: 0 auto;
}
.color_blue {
    color: #00b8ff;
}


header {
    width: 100%;
    height: 4.2vw;
    overflow: hidden;

    position: fixed;
    transition: all .3s;
    z-index: 5;

    &.whiteBg {
        .inner {
            .logo {
                color: #00b8ff;
            }

            #web_menu a {
                color: #495057;
            }

            #mobile_menu_btn {
                color: #495057;
            }
        }
    }

    &.subBg {
        height: 14.6vw;
        background-color: #f9f9f9;

        .inner {
            .logo {
                color: #00b8ff;
                cursor: pointer;
            }
            #web_menu a {
                color: #868e96;
            }
        }
    }

    .inner {
        position: relative;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        .logo {
            position: absolute;
            top: 35px;
            left: 0;

            font-family: 'SBAggroM';
            font-size: 1.875rem;
            font-weight: bold;
            color: #f9f9f9;
        }

        #web_menu {
            width: 25.5vw;
            position: relative;

            font-family: 'GmarketSansMedium';

            a {
                color: #f9f9f9;
            }

            .main_menu {
                height: 14.6vw;
                display: flex;
                justify-content: space-between;

                .depth1 {
                    width: 8.5vw;
                    font-size: 1.25rem;
                    text-align: center;
                    margin-top: 20px;

                    position: relative;

                    .depth1Link {
                        height: 5.2vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        & > span::after {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 0.3vw;
                            margin-top: 10px;
                            background-color: #00b8ff;
                            opacity: 0;

                            transition: all .3s;
                        }
                    }

                    &:hover {
                        .depth1Link {
                            & > span::after {
                                opacity: 1;
                            }
                        }
                    }

                    .depth2 {
                        width: 100%;
                        position: absolute;
                        top: 85px;
                        left: 50%;
                        transform: translateX(-50%);

                        display: flex;
                        flex-direction: column;

                        font-size: 1rem;
                        & > li {
                            margin-bottom: 10px;

                            &:hover {
                                a {
                                    color: #00b8ff;
                                    transition: all .3s;
                                }
                            }
                        }
                    }
                }
            }
        }

        #mobile_menu_btn {
            position: absolute;
            top: 35px;
            right: 0;
            font-size: 2rem;
            color: #f9f9f9;
            cursor: pointer;
            display: none;
            transition: all .3s;

            &:hover {
                color: #1971c2;
            }
        }
    }
}

#mobile_menu {
    width: 29.6vw;
    height: 100vh;
    background-color: #42C2FF;

    position: fixed;
    right: -40vw;
    z-index: 10;
    transition: all .5s ease-in;

    display: none;

    &.on {
        right: 0;
    }

    .close {
        margin: 35px 35px 50px;
        align-self: flex-end;

        font-size: 2.25rem;
        color: #f9f9f9;

        cursor: pointer;

        &:hover {
            color: #1971c2;
            transition: all .3s;
        }
    }

    .mobile_menu {
        width: 65%;
        a {
            font-family: 'GmarketSansMedium';
            color: #e9ecef;
        }

        .mobile_depth1 {
            margin-bottom: 40px;

            .mobile_depth1_link {
                font-size: 1.6rem;

                display: block;
                margin-bottom: 10px;
                box-sizing: border-box;
                border-bottom: 1px solid #ced4da;
            }

            .mobile_depth2 {
                margin-left: 5px;

                li {
                    margin-bottom: 5px;

                    a:hover {
                        color: #1971c2;
                        transition: all .3s;
                    }
                }
            }
        }
    }
}

main {    
    #main_img {
        height: 49vw;
        background: url(../images/main_visual_fullscreen.jpg) no-repeat;
        background-size: 100% auto;
        margin-bottom: 100px;

        display: flex;
        justify-content: center;
        align-items: center;

        .typeit_box {
            #typeit_txt {
                font-family: 'LeferiPoint-BlackObliqueA';
                font-size: 3.75rem;
                color: #f9f9f9;
                text-shadow: 1px 1px 0 rgba(0,0,0,0.3) ;

                .ti-cursor {
                    display: none;
                }
            }
        }
    }

    #card_ani {
        margin-bottom: 200px;

        .inner {
            #web_card {

                .card_wrap {
                    width: 100%;
                    height: 33.9vw;
                    margin-bottom: 100px;

                    position: relative;
                    overflow: hidden;

                    img {
                        width: 45vw;
                        height: auto;
                        
                        position: absolute;
                        top: 0;
                    }

                    .card_txt {
                        font-family: 'LeeSeoyun';
                        position: absolute;
                        bottom: 0;

                        h2 {
                            font-size: 3rem;
                            margin-bottom: 20px;
                        }

                        p {
                            display: flex;
                            flex-direction: column;
                            font-size: 1.3rem;

                            span {
                                margin-bottom: 5px;
                            }
                        }
                    }

                    &:nth-child(odd) {
                        & > img {
                            left: 0;
                        }

                        .card_txt {
                            right: 150px;
                        }
                    }

                    &:nth-child(even) {
                        & > img {
                            right: 0;
                        }

                        .card_txt {
                            left: 150px;
                            text-align: right;
                        }
                    }
                }
            }

            #mobile_card {
                display: none;  
            }
        }
    }

    #users {
        width: 100%;
        height: 20vw;
        background-color: #00b8ff;
        margin-bottom: 80px;

        .inner {
            height: 100%;
            position: relative;

            display: flex;
            justify-content: flex-end;
            align-items: center;

            .circle_img {
                width: 25vw;
                height: 25vw;
                border-radius: 50%;
                background-color: #1971c2;

                position: absolute;
                top: 50%;
                left: 130px;
                transform: translateY(-50%);  
                
                display: flex;
                justify-content: center;
                align-items: center;

                .cars_bg {
                    width: 90%;
                    height: 90%;
                    border-radius: 50%;
                    background: url(../images/cars_bg.png) center no-repeat;
                    background-size: 100% auto;
                    
                    animation: rotateText 25s linear infinite;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotateZ(0);
                }

                img {
                    width: 50px;
                    height: auto;

                    &.scale {
                        animation: scale .5s forwards;
                    }
                }

                @keyframes scale {
                    0% {}
                    100% {
                        transform: scale(13);
                    }                    
                }

                @keyframes rotateText {
                    0% {}
                    100% {
                        transform: translate(-50%, -50%) rotateZ(360deg);
                    }
                }
            }
            .users_txt {
                padding-right: 130px;

                display: flex;
                flex-direction: column;

                span {
                    font-family: 'GmarketSansMedium';
                    font-size: 1.8rem;
                    color: #ced4da;

                    margin-bottom: 10px;

                    strong {
                        font-size: 2.3rem;
                        font-weight: bold;
                        color: #f9f9f9;
                    }
                }
            }
        }
    }
}

// 푸터영역
footer {
    width: 100%;
    height: 15vw;
    border-top: 1px solid #999;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .inner {
        height: 75%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        font-family: 'GmarketSansLight';
        font-weight: bold;

        .links {
            width: 70%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                font-size: 1.1rem;                
                color: #495057;

                strong {
                    font-family: 'GmarketSansMedium';
                    font-weight: normal;
                }
            }
        }

        .footer_info {
            width: 70%;

            display: flex;
            justify-content: space-around;

            .corp_info {
                li {
                    margin-bottom: 3px;
                    font-size: 0.9rem;

                    a {
                        color: #222;
                        text-decoration: underline;
                    }
                }
            }

            .sns {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .sns_links {
                    margin-bottom: 30px;

                    ul {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        li {
                            a {
                                font-size: 1.1rem;
                                color: #495057;
                            }

                            &:nth-child(1) {
                                a {
                                    font-size: 1.18rem
                                }
                            }

                            &:nth-child(4) {
                                a {
                                    font-family: 'SBAggroM';
                                }
                            }
                        }
                    }
                }

                .socar_app {
                    width: 11.5vw;
                    height: 3.6vw;
                    border-radius: 1.8vw;
                    background-color: #00b8ff;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        img {
                            width: 2.6vw;
                            height: 2.6vw;
                            margin-right: 5px;
                            border-radius: 50%;
                        }
                        span {
                            font-size: 1.1rem;                
                            color: #f9f9f9;
                        }
                    }
                }
            }
        }

        p {
            font-size: 0.9rem;
        }
    }
}
